.noti_list{
    padding: 300px 0;
}
.noti_list>ul{
    display: flex;
    justify-content: center;
}
.noti_list>ul>li{
    width: 33.333%;
    margin-right: 50px;
    padding: 10px 0;
    background-color: #F2B705;
    text-align: center;
}
.noti_list>ul>li>a{
    width: 100%;
    padding: 10px 100px ;
    color: #fff;
    font-size: 18px;
}