section{
    width: 1240px;
    margin: auto;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
table{
    width: 100%;
    border: 1px solid #333;
}
td{
    border: 1px dashed #333;
    padding: 20px 10px;
}
tr>td:first-child{
    text-align: center;
}
tr>td.submit{
    text-align: right;
}
tr>td.submit>input{
    width: 50px;
    height: 30px;
}
