
.notice{
    background-image: url(../img/notice_bnr3.png);
}

.table{
    margin: 30px auto 100px;
}
.table_info{
    color: #777;
    font-size: 12px;
    text-align: left;
}
.table_info b {
    color: #333;
}
.table_info span {
    color: #cc0000;
}
.noti_tb{
    width: 100%;
    border-top: 1px solid #555;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
    text-align: center;
    table-layout:fixed;
}
.noti_tb th {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

.noti_num{
    width: 10%;
}

.noti_tb .th {
    width: 12%;
}
.noti_tb tr:hover{
    background-color: #fdfdfd;
}
.noti_tb td {
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
}
.noti_tb td a{
    width: 100%;
    color: #222;
    display: block;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.noti_tb td a:hover{
    text-decoration: underline;
}
.search_box {
    padding: 20px;
    box-sizing: border-box;
    background: #f3f3f3;
    display: inline-block;
    width: 100%;
}
.search_box select {
    height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    width: 100px;
}
.search_box input[type="text"] {
    border: 1px solid #999;
    height: 35px;
    padding: 0 20px;
    box-sizing: border-box;
    width: 200px;
}
.select_box{
    display: flex;
    justify-content: center;
}
.search_box #searchCondition{
    outline: none;
}
.seach_wrap{
    display: flex;
}
#searchKeyword{
    outline: none;
}
.seach_wrap>span>a{
    display: block;
    width: 34px;
    height: 35px;
    background-image: url(../img/btn_search.png);
    background-position: 100% auto;

}
img {
    border: 0px;
    display: inline;
}
.controll_box {
    text-align: center !important;
    margin: 30px auto 0 auto;
    height: 30px;
}
.controll_box img{
    width: 30px;
    height: 30px;
}
.controll_box>a{
    display: inline-block;
}
.controll_box>.num{
    width: 30px;
    padding: 6px 0;
    color: #222;
}


@media only screen and (max-width: 1200px){

    .w1200{
        width: 100%;
    }
     
    .noti_tb{
        width: 100%;
    }
    .noti_tb .ths {
        width: calc(100% - 190px)
    }
    .noti_tb .th {
        width: 120px;
        padding: 0px !important;
    }
    .noti_num{
        width: 70px;
    }
}

@media only screen and (max-width: 975px){

    .pc{
        display: none;
    }

}

  @media only screen and (max-width: 767px){

}